{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}

<!DOCTYPE html>
<html lang="{{ CURRENT_LANGUAGE }}">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'landing/style.css' %}">
    {% block css %}{% endblock %}
    <title>{% block title %}{% endblock %} - ohhkay</title> 
</head>

<body>
    
    <header class="header">
        <div class="logo-container">
            <a href="{% url 'landing:index' %}" class="logo">ohhkay</a>
        </div>

        <nav class="navbar">
            <a href="{% url 'blog:index' %}">Blog</a>
            <a href="#">Links</a>
            <a href="#">Recommendations</a>
        </nav>
    </header>    

    <div class="content">
        {% block content %}
        {% endblock content %}
    </div>
</body>
<footer>
    <div class="footer-container">
        <div class="footer-item">
            <h2>Legal</h2>
            <a href="#">Imprint</a>
            <a href="#">Privacy Policy (german)</a>
        </div>
        <div class="footer-item">
            <h2 class="footer-logo">ohhkay</h2>
            <a href="{% url 'landing:index' %}">Home</a>
            <a href="#">Blog</a>
            <a href="#">Recommendations</a>
        </div>
        <div class="footer-item">
            <h2>Links</h2>
            <a href="#">Links</a>
            <a href="#">GuideHub</a>
            <a href="https://github.com/justforcertxyz/ohhkay">Source</a>
        </div>
    </div>
</footer>
</html>