{% extends "landing/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content-item">
    <h1>About Me</h1>
    <p>
        Hello and welcome to my personal website.
        My name is Oliver and I am a German electrical engineering student in my mid 20s,
        currently doing my Masters degree.
        To be more specific, the degree is focusing on electrical power engineering
        and I am personally specialized in electrical drives.
    </p>
    <p>
        Apart from that I am interested in (geo-)politics, programming,
        open-source-software, music, sports and books.<br>
        My <a href="{% url 'blog:index' %}">blog</a> will touch on some of those topics,
        furthermore there are some <a href="#">recommendations</a> on books and software to
        be found.
    </p>    
    <p>
        This is not the only website I own,
        there are some more <a href="#">projects</a> with some of which I try to earn some coin.<br>
        All of my projects are self-build and open-source an their source code can be found on <a href="https://github.com/justforcertxyz">GitHub</a>.
    </p>

    <h3>Kind Regards, Oliver!</h3>
</div>
{% endblock content %}